.discount {
  height: 90vh;
  padding: 2rem;
}

.main-container {
  height: 90%;
  width: 80%;
  background-color: var(--primary-black);
  color: white;
  border-radius: 1rem;
  margin: 2rem auto 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-content {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.discount-content h2 {
  margin: 0rem auto 2rem;
  text-align: center;

  color: var(--primary-orange);
  font-size: 2.5rem;
}

.discount-img {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.discount-img img {
  transform: scale(1.3);
  width: 100%;
}
.timer-container {
  width: 250px;
  height: max-content;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
  width: 100%;
}
.timer p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 950px) {
  .main-container {
    width: 100%;
  }
  .discount-content h2 {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .discount {
    height: 100vh;
  }

  .discount-content {
    height: 60%;
    width: 100%;
    justify-content: space-around;
  }
  .discount-content h2 {
    margin: 0 !important;
  }
  .discount-img {
    height: 40%;
    width: 80%;
  }
  .discount-img img {
    width: 100%;
    max-width: 300px;
  }
  .timer {
    flex-direction: column;
    width: 100%;
  }
  .timer p {
    font-size: 1rem;
  }
} ;
