.discount {
  height: 100vh;
  padding: 2rem;
}

.main-container {
  height: 80%;
  width: 80%;
  background-color: var(--primary-black);
  color: white;
  border-radius: 1rem;
  margin: 3rem auto 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-content {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.discount-content h2 {
  margin: 0rem auto 2rem;
  color: var(--primary-orange);
  font-size: 2.5rem;
}

.discount-img {
  position: relative;
  width: 50%;
  height: 100%;
}
.discount-img img {
  transform: scale(1.3);
  position: absolute;
  right: 0;
  transform-origin: center;
  top: 3%;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
  width: 100%;
}
.timer p {
  font-size: 1.2rem;
}
