.product {
  margin-top: 4rem;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 90%;
  height: 95%;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.timer-section {
  width: 10%;
  height: 100%;
  background-color: var(--primary-black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.timer-section h3 {
  position: absolute;
  color: var(--primary-red);
  top: 8%;
  text-align: center;
  font-size: 1.5rem;
}
.timer-container {
  margin-top: 2rem;
  height: max-content;
  width: 150px;
}

.product-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.image {
  min-width: 50%;
  height: 100%;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 60%;
  height: 90%;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
.container h2 {
  color: var(--primary-black);
  font-size: 2rem;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;
  width: 90%;
  margin-top: 2rem;
  color: var(--primary-black);
}

.available span {
  color: var(--primary-orange);
}
.price {
  padding-top: 1rem;
}

.price .new-price {
}
.price .old-price {
  padding-left: 1rem;
  color: var(--primary-gray);
  font-size: 0.9rem;
  text-decoration: line-through;
}

.description {
  padding-top: 1rem;
  line-height: 1.8rem;
}

.sizes {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sizes p:first-child {
  font-size: 1.1rem;
}

.sizes p:last-child {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: space-around;
}
.sizes p:last-child span {
  margin: 0rem 0.5rem;
  border-bottom: 3px solid var(--primary-orange);
  padding: 0rem 1rem;
  font-size: 1rem;
  text-align: center;
}
.quantity {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 50px;
}
.quantity p {
  margin: 0 !important;
  align-self: center;
}

.quantity,
.button-container {
  margin-top: 1rem;
}

.button-container button {
  cursor: pointer;
  margin-right: 1rem !important;
  background-color: var(--primary-orange);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
  color: var(--primary-black);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media only screen and (max-width: 1150px) {
  .wrapper {
    width: 95%;
    height: 95%;
    /* flex-direction: column-reverse; */
  }
}
@media only screen and (max-width: 950px) {
  .product {
    height: 100%;
    width: 100%;
  }
  .wrapper {
    flex-direction: column-reverse;
  }

  .description {
    display: none;
  }
  .image {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .timer-section {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .timer-section h3 {
    position: absolute;
    color: var(--primary-red);
    display: flex;
    height: 100%;
    left: 5%;
    align-items: center;
    font-size: 1.5rem;
  }
  .timer-container {
    margin-top: 0rem;
    height: max-content;
    width: 100%;
  }
  .timer-section .container span {
    margin-top: 0rem !important;
  }
  .button-container > button {
    margin-top: 0.5rem !important;
  }
}

@media only screen and (max-width: 550px) {
  .product {
    margin-top: 5rem;
    height: 85vh;
  }

  .wrapper {
    position: relative;
    max-width: 400px;
  }
  .product-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .timer-section {
    display: none;
  }

  .container {
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .container h2 {
    color: var(--primary-black);
    font-size: 1.5rem;
  }

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    color: var(--primary-black);
  }
  .content p,
  span {
    font-size: 0.8rem;
  }
  .content .sizes p,
  .content .sizes p > span {
    font-size: 0.8rem;
  }
  .button-container > button {
    font-size: 0.8rem;
    margin-top: 0.5rem !important;
  }
}
