.card-services{
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 300px;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card-services:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-icon{
  width: 75px;
  height: 75px;
}
.card-icon svg{
  width: 100%;
  height: 100%;
}

.card-content h2{
  color: var(--primary-black);
  font-size: 1.2rem;
  font-weight: 500;
}
