.services{
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.services-title {
  max-height: 20%;
  margin-top: 2rem;
  padding: 1.5rem;
}
.services-title h2{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

.services-slider{
  padding: 2rem;
  height: 80%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
