.sort-bar {
  /* height: 75px; */
  min-height: 75px;

  background-color: var(--primary-orange);
  width: 100%;
  padding: 0rem 4rem;
  /* border-radius: 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1150px) {
  .sort-bar {
    padding: 0rem 2rem;
  }
}

@media only screen and (max-width: 550px) {
  .sort-bar {
    padding: 0.5rem 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
