.food-menu {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.foods {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 4rem 0rem 2rem;
}
.paginate {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
.pagination-btn {
  width: max-content;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pagination-btn li {
  overflow: hidden;
  margin: 0rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
  cursor: pointer;
}
.pagination-btn li > a {
  display: block;
  text-align: center;
  padding: 0.5rem 1.1rem;
}

.prev-btn,
.next-btn {
  color: var(--primary-red);
}
.prev-btn:hover,
.next-btn:hover {
  background-color: var(--primary-red);
  color: #fff;
}

.pagination-disabled > a {
  opacity: 0.8;
  cursor: not-allowed;
}

.pagination-active {
  background-color: var(--primary-red);
  color: white;
}
@media only screen and (max-width: 550px) {
  .paginate {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
  }
  .pagination-btn {
    width: max-content;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .pagination-btn li {
    overflow: hidden;
    margin: 0rem 0.2rem;
  }
  .pagination-btn li > a {
    padding: 0.3rem 0.8rem;
  }
}
