.food-menu {
  width: 80%;
  height: auto;
  /* background-color: var(--primary-black); */
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
