body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  --primary-black: #303030;
  --primary-light-black: #f5f1ee;
  --second-color: #cd7752;
  --second-light-color: #faf1ed;
  --new-color: #e30514;

  --logo-font: 'Dancing Script';
  --primary-font: 'Poppins';
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--logo-font);
  font-weight: 900;
}
h2 {
  font-family: var(--primary-font);
}

ul {
  list-style-type: none;
}

.App img {
  width: 35px;
  height: 35px;
  fill: var(--second-color);
}
