body {
  margin: 0;
  width: 100vw;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
  --primary-red:  #fe734e;
  --primary-black: #292821;
  --primary-orange: #ffb81a;

  /* #F5DCDC , #F5F0DC, #F6F6F6 , #DCF5E3 , #DCDEF5*/
  /* #fec6b8 ,#daa633 , #292821 , #fe724c , #fe734e*/
  /*#ffb81a, #fe734e */

  --logo-font:  'Rubik Moonrocks', cursive;
  --primary-font: 'Poppins';
}

a {
  text-decoration: none;
}
h2 {
  font-family: var(--primary-font);
}

ul {
  list-style-type: none;
}


