body {
  margin: 0;
  width: 100vw;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
  --primary-red:  #ff0022;
  --primary-main: #edfdfb;
  --primary-gray: #b9bab8;
  --primary-pink: #f8e9f2;
  --primary-black: #04030f;

  --logo-font: 'Dancing Script';
  --primary-font: 'Poppins';
}

a {
  text-decoration: none;
}
h2 {
  font-family: var(--primary-font);
}

ul {
  list-style-type: none;
}


