.carousel {
  cursor: grab;
  overflow: hidden;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 50, 0.25) 0px 5px 30px -10px inset;
}

.inner-carousel {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
